<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="/manifest.json" rel="manifest">
	<title></title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<nav class="component main-nav">
			<div class="container-nav-heading">
				<h1><a href="#view-home">WAFS opdracht</a></h1>
			</div>
		    <ul class="main-nav-list">
		        <li><a href="#view-home" aria-label="Home">Home</a></li>
		        <li><a href="#view-list">List</a></li>
		    </ul>
		</nav>
		<div class="container-categories">
			<ul>
				<li><a href="#view-list/artanddesign">Art and Design</a></li>
				<li><a href="#view-list/books">Books</a></li>
				<li><a href="#view-list/commentisfree">Comment Is Free</a></li>
				<li><a href="#view-list/culture">Culture</a></li>
				<li><a href="#view-list/environment">Environment</a></li>
				<li><a href="#view-list/extra">Extra</a></li>
				<li><a href="#view-list/film">Film</a></li>
				<li><a href="#view-list/music">Music</a></li>
				<li><a href="#view-list/news">News</a></li>
				<li><a href="#view-list/politics">Politics</a></li>
				<li><a href="#view-list/science">Science</a></li>
				<li><a href="#view-list/sport">Sport</a></li>
				<li><a href="#view-list/technology">Technology</a></li>
				<li><a href="#view-list/world">World</a></li>
			</ul>
		</div>
	</header>